extends layout

append head
  title Welcome to my blog

// Core Wrapper
block body
  // Navigation Bar
  include /partials/navbar
  div(id="wrapper", class="container")
    div(class="row-fluid", class="content")
      div(class="span7")
        //Latest posts
        include partials/posts/latest
      div(class="span4 sidebar")
        include partials/sidebar
  include partials/footer