!!! 5
html(lang="en")
  head
    link(rel='stylesheet', href = '/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href = '/bootstrap/css/override.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
    block head
  body
    block body