div(class="footer")
  div(class="container")
    div(class="pull-right")
      a(href="#") Back to top
    p Blog Engine, A open-source blog ystem built with 
      a(href="#nodejs") NodeJS 
      | and 
      a(href="#express") Express