!!! 5
html(lang="en")
  head
    link(rel="stylesheet", href="/admin/style.css")
    block stylesheets
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
    block javascripts
    block meta
    block head
  body
    include partials/navbar
    block body